<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.tagdog.portal.mapper.IdeaMapper">

    <resultMap id="ideaWithIdeaAttrMap" type="Idea">
        <id property="ideaIdx" column="ideaIdx"/>
        <result property="parentIdx" column="parentIdx"/>
        <result property="restCode" column="restCode" />
        <result property="name" column="name" />
        <result property="desc" column="desc" />
        <collection columnPrefix="IA_" property="ideaAttrList" ofType="IdeaAttr"  javaType="List">
            <id property="ideaAttrIdx" column="ideaAttrIdx" />
            <result property="restCode" column="restCode" />
            <result property="key" column="key" />
            <result property="primary" column="primary" />
            <result property="permit" column="permit" />
        </collection>
    </resultMap>

    <sql id="idea">
		A.idea_idx as ideaIdx,
		A.parent_idx as parentIdx,
		A.rest_code as restCode,
		A.name as `name`,
		A.desc as `desc`
	</sql>

    <sql id="ideaWithIdeaAttr">
		A.idea_idx as ideaIdx,
		A.parent_idx as parentIdx,
		A.rest_code as restCode,
		A.name as `name`,
		A.desc as `desc`,
		C.idea_attr_idx as IA_ideaAttrIdx,
		C.rest_code as IA_restCode,
		C.key as IA_key,
		C.primary as IA_primary,
		C.permit as IA_permit,
		C.secret as IA_secret
	</sql>

    <select id="test" resultType="Idea">
        SELECT
        <include refid="idea" />
        FROM idea A
    </select>

    <select id="list" resultMap="ideaWithIdeaAttrMap">
        SELECT
        <include refid="ideaWithIdeaAttr" />
        FROM idea A
        JOIN idea_hub B ON B.idea_idx = A.idea_idx
        JOIN idea_attr C ON C.idea_attr_idx = B.idea_attr_idx
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            AND A.del_flag = 'N'
            AND C.del_flag = 'N'
        </trim>
    </select>

    <select id="selectOne" parameterType="Idea" resultType="Idea">
        SELECT
        <include refid="idea" />
        FROM idea A
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            AND A.del_flag = 'N'
            <if test="ideaIdx != null and ideaIdx != '' ">AND idea_idx = ${ideaIdx}</if>
            <if test="restCode != null and restCode != '' ">AND rest_code = #{restCode}</if>
        </trim>
    </select>

    <select id="selectOneWithIdeaAttr" parameterType="Idea" resultMap="ideaWithIdeaAttrMap">
        SELECT
        <include refid="ideaWithIdeaAttr" />
        FROM idea A
        JOIN idea_hub B ON B.idea_idx = A.idea_idx
        JOIN idea_attr C ON C.idea_attr_idx = B.idea_attr_idx
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            AND A.del_flag = 'N'
            AND C.del_flag = 'N'
            <if test="ideaIdx != null and ideaIdx != '' ">AND A.idea_idx = ${ideaIdx}</if>
            <if test="restCode != null and restCode != '' ">AND A.rest_code = #{restCode}</if>
            <if test="name != null and name != '' ">AND A.name = #{name}</if>
        </trim>
    </select>

</mapper>