<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.tagdog.portal.mapper.SampleMapper">

    <!-- RESULT MAP : DEFAULT -->
    <resultMap type="sample" id="sampleResultMap">
        <result property="idx" column="IDX" />
        <result property="id" column="ID" />
        <result property="nm" column="NM" />
        <result property="dc" column="DC" />
        <result property="tyCode" column="TY_CODE" />
        <result property="useAt" column="USE_AT" />
        <result property="regId" column="REG_ID" />
        <result property="regDt" column="REG_DT" />
        <result property="updId" column="UPD_ID" />
        <result property="updDt" column="UPD_DT" />
        <result property="delAt" column="DEL_AT" />
    </resultMap>

    <!-- SELECT : DEFAULT -->
    <sql id="select">
        <trim suffix="" prefixOverrides=",">
            , sample.IDX AS IDX
            , sample.ID AS ID
            , sample.NM AS NM
            , sample.DC AS DC
            , sample.TY_CODE AS TY_CODE
            , sample.USE_AT AS USE_AT
            , sample.REG_ID AS REG_ID
            , sample.REG_DT AS REG_DT
            , sample.UPD_ID AS UPD_ID
            , sample.UPD_DT AS UPD_DT
            , sample.DEL_AT AS DEL_AT
        </trim>
    </sql>

    <!-- WHERE : DEFAULT -->
    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            AND sample.DEL_AT = 0
            <if test="@io.tagdog.portal.common.utils.ValidUtil@isNotEmpty( idx )">
                AND sample.IDX = #{idx}
            </if>
        </trim>
    </sql>

    <!-- WHERE : mapSearchOption in DefaultVO -->
    <sql id="whereForSearch">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            AND sample.DEL_AT = 0
            <if test="@io.tagdog.portal.common.utils.ValidUtil@isNotEmpty( option )">
                <if test="@io.tagdog.portal.common.utils.ValidUtil@isNotEmpty( option.nm )">
                    AND sample.NM like '%'||#{ mapSearchOption.nm }||'%'
                </if>
            </if>
        </trim>
    </sql>

    <!-- ORDER SQL for mapSearchOption in DefaultVO -->
    <sql id="orderForSearch">
        <if test="@io.tagdog.portal.common.utils.ValidUtil@isNotEmpty( pagingTy )">
            <choose>
                <when test='@io.tagdog.portal.common.utils.ValidUtil@isEquals( pagingTy, "updDt" )'>
                    ORDER BY COALESCE(sample.UPD_DT, sample.REG_DT) DESC
                </when>
                <when test='@io.tagdog.portal.common.utils.ValidUtil@isEquals( pagingTy, "idx" )'>
                    ORDER BY sample.IDX, COALESCE(sample.UPD_DT, sample.REG_DT) DESC
                </when>
                <otherwise>
                    ORDER BY COALESCE(sample.UPD_DT, sample.REG_DT) DESC
                </otherwise>
            </choose>
        </if>
        <if test="@io.tagdog.portal.common.utils.ValidUtil@isEmpty( pagingTy )">
            ORDER BY REG_DT DESC
        </if>
    </sql>

    <!-- INSERT -->
    <insert id="insertMono" parameterType="sample">
        INSERT INTO SAMPLE (
              ID
            , NM
            , DC
            , TY_CODE
            , REG_ID
        )
        VALUES (
              #{ id }
            , #{ nm }
            , #{ dc }
            , #{ tyCode }
            , #{ regId }
        )
    </insert>

    <!-- SELECT -->
    <select id="selectMono" parameterType="sample" resultType="sample">
        SELECT
        <include refid="select" />
        FROM
        SAMPLE sample
        <include refid="where" />
    </select>

    <select id="selectFlux" parameterType="search" resultType="sample">
        SELECT
            <include refid="select" />
        FROM
            SAMPLE sample
        <include refid="whereForSearch" />
        <include refid="orderForSearch" />
        LIMIT
            #{ recordCountPerPage }
        OFFSET
            #{ firstIndex }
    </select>

    <select id="selectFluxCount" parameterType="search" resultType="int">
        SELECT
            COUNT(*) CO
        FROM
            SAMPLE sample
        <include refid="whereForSearch" />
    </select>


    <!-- UPDATE -->
    <update id="updateMono" parameterType="sample">
        UPDATE
            SAMPLE
        <trim prefix="SET" prefixOverrides=",">
            <if test="@io.tagdog.portal.common.utils.ValidUtil@isNotEmpty( nm )">
                , NM = #{ nm }
            </if>
            <if test="@io.tagdog.portal.common.utils.ValidUtil@isNotEmpty( dc )">
                , DC = #{ dc }
            </if>
            <if test="@io.tagdog.portal.common.utils.ValidUtil@isNotEmpty( tyCode )">
                , TY_CODE = #{ tyCode }
            </if>
            , UPD_ID = #{ updId }
            , UPD_DT = NOW()
        </trim>
        <include refid="where" />
    </update>

    <update id="updateMonoDelAt" parameterType="sample">
        UPDATE
            SAMPLE
        SET
              DEL_AT = #{ delAt }
            , UPDUSR_ID = #{ updusrId }
            , UPDT_DT = NOW()
        <include refid="where" />
    </update>


    <!-- DELETE -->
    <delete id="deleteMono" parameterType="sample">
        DELETE FROM SAMPLE
        <include refid="where" />
    </delete>

</mapper>